/*
 * Name: T_Dialog.css
 * Author: Tsolong
 * Q   Q: 415802721
 * Email: tsolong@126.com
 * Create Date: 2013-03-29
 * Last Update: 2013-05-15
 *
 * Description: 网页对话框样式
 * -------------------------
 */
.T_Dialog{font-size:12px; color:#666; background:#fff; border:1px solid #ccc; border-radius: 1px;}
.T_Dialog a, .T_Dialog button{color:#666;}

.T_Dialog_Top{height:36px; line-height:36px; border-bottom:1px solid #d5d5d5; background:url(Images/top.gif); text-indent:10px; font-size:14px; font-weight:bold; font-family:Verdana; letter-spacing:1px;}
.T_Dialog_Top a{width:15px; height:15px; top:11px; cursor:pointer; position:absolute;}
.T_Dialog_Close{background:url(Images/close.jpg) no-repeat; right:10px;}
.T_Dialog_Close_Hover{background:url(Images/closeHover.jpg) no-repeat;}

.T_Dialog_Middle{overflow:auto;}

.T_Dialog_Msg{line-height:18px; padding:30px 30px 30px 70px; min-height:13px; _height:13px;}

.T_Dialog_alert{background:url(Images/alert.gif) no-repeat 20px center;}
.T_Dialog_warning{background:url(Images/warning.gif) no-repeat 20px center;}
.T_Dialog_success{background:url(Images/success.gif) no-repeat 20px center;}
.T_Dialog_error{background:url(Images/error.gif) no-repeat 20px center;}
.T_Dialog_confirm{background:url(Images/confirm.gif) no-repeat 20px center;}

.T_Dialog_Control{text-align:right; height:45px; background:url(Images/control.gif) repeat-x; border-top:1px dotted #c9c9c9;}

.T_Dialog_Button{width:80px; height:24px; margin:11px 10px 0px 0px; padding:5px 0 5px 0; *padding:4px 0 6px 0; _padding:5px 0 0 0; padding:6px 0 4px 0 \9\0; font-size:12px; line-height:12px; background:#eee; border:1px solid #acacac;}
.T_Dialog_Button_Hover{background:#eaf3fc; border-color:#7eb4ea;}